* {
    font-family: "Kode Mono";
}

body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-self: start;
}

#type-filter {
    width: calc(max(40%, 100px))
}

#request-data {
    width: 150px;
}


.pokemon {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 3px solid #EE3131;
    border-radius: 10px;
    padding: 3px;
    background-color: white;
}

#data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.pokebody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokeimage {
    image-rendering: pixelated;
    border: 3px solid #656565;
    padding: 10px;
    border-radius: 5px;
    margin-right: auto; 
    width: 80px;
    height: 80px;
}

.pokestats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    font-size: 20px;
    margin-right: auto;
}

.pokenamecard {
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 2px;
    background-color: #EE3131;
    color: white;
}

.pokenum {
    float: left;
    padding-left: 2px;
    font-weight: bold;
}

.pokenamecard {
    display: flex;
}

.pokename {
    float: right;
    padding-right: 2px;
    border-color: #0000;
    background: #0000;
    text-align: right;
    outline: none;
    width: 1px;
    flex-grow: 1;
}

.pokename,.pokename::placeholder {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.editmode {
    border: 1px solid;
    border-color: #0000;
    background: #0007;
    outline: auto !important;
}

.pokenum {
    padding-right: 0.25em;
    color: white;
    text-align: left;
    background: #0000;
    outline: none;
    border-color: #0000;
    width: 50px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.pokemeasurements {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pokemeasurements > input {
    outline: none;
    border-color: #0000;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.poketype {
    width: 1.5em;
}

.poketypings {
    gap: 2px;
    display: flex;
    padding: 3px;
    justify-content: center;
}